<section>
<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form action="/login" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="input-group w-50 m-auto" name="email" id="email" />
        <label for="password">Password</label>
        <input type="text" class="input-group w-50 m-auto" name="password" id="password"/>
    <button class="btn btn-success mb-3">Ingresar</button>
    </div>
  </form>
    <p>¿Aún no tienes cuenta? <a href="/add">Regístrate</a></p>
</div>
</section>
