<div class="card text-center mx-auto" style="width: 350px;">
  <div class="card-header">
    <h3>Debes iniciar sesion o registro</h3>
  </div>
  <div class="card-body">
    <a href="/login" class="btn btn-primary">Acceder</a>
    <a href="/add" class="btn btn-primary">Registro</a>
</div>
